*{
    color: skyblue;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}


body {
    background-image: url("images/utsikt.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#front {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;

}

.blueBox{
    border: solid 2px skyblue;
    padding: 10px;
    margin: 20px;
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    font-size: 14pt;

}

.blueBox:hover {
    box-shadow: 0 0 10px skyblue;
}
